<!-- <app-hero-landing ></app-hero-landing> -->
<div class="header_container">
    <div class="header">
      <audio id="player" autoplay loop>
        <source src="assets/sounds/intro.mp3#t=0,86" type="audio/mp3">
      </audio>
      <video  preload="none" autoplay [muted]="'muted'" loop autoplay class="video-bg" 
        id="myVideo">
        <source src="assets/videos/finals.mp4" type="video/mp4">
      </video>
    </div>
  </div>
  
<body class="welcome">
  <span id="splash-overlay" class="splash"></span>
  <span id="welcome" class="z-depth-4"></span>

  <header class="welcome">
    <nav class="row darken">
      <div class="col s12">
        <ul class="left">
          <li class="left">
            <a href="" target="_blank" class="fas fa-basketball-ball fa-3x waves-effect waves-light rotating"
              style='color:#B54213;'><span class="icon-text"> OPTM</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main class="valign-wrapper ">
    <span class="container grey-text text-lighten-1 ">
      <h1 class="title grey-text text-lighten-3"><span class='emphasis'></span> The Journey begins to create your own legacy </h1>
      <blockquote class="flow-text" style='color:#fff; font-weight: 600; text-transform:uppercase;'>"Winning isn’t
        everything, it’s the only thing"
      </blockquote>
        <a class="start-btn" style='font-family: Times New Roman, Times, serif; color:black; font-weight: 600;' (click)='playAudio()' href="https://www.nba.com/">SEASON <b  style='font-family: Times New Roman, Times, serif; font-weight: bolder; color:black; text-decoration: underline; font-size: 25pz;'>XIV</b></a>

        
    </span>
  </main>
  

  <div class='padding-bottom:40px'>
    <footer style='background-color:black !important;' class="page-footer deep-purple darken-3">
      <div class="footer-copyright" style='background-color:#B4975A;'>
        <div class="container">
          <time style='text-align: center;'>
            <p style='color: white; font-family: Poppins, sans-serif; font-weight: 600; display:block;'>&copy; 2019 OTPM - The Commish Edition Inc</p>
          </time>
        </div>
      </div>
    </footer>
  </div>
</body>
  
  <div class="content video-bg-content">
    <div style='margin-top:20%; '>
      <div class=elementToFadeInAndOut>
          <h4  class='first'><span class="emphasis" >ONLY</span></h4>
          <h4 class='second' ><span class="emphasis" >POOL</span></h4>
          <h4 class='third' ><span class="emphasis" >THAT</span></h4>
          <h4  class='fourth'> <span class="emphasis" >MATTERS</span></h4>
  
    </div>
  </div>
  </div>

<router-outlet></router-outlet>